{% extends 'layout.html' %}

{% block content %}
<div>
	<div class="image">
		<input type="hidden" value="{{image.User.id}}" class="image-user-id">
		<input type="hidden" value="{{image.id}}" class="image-id">
		<div class="image-info">
			<span class="text_left">제목:{{image.title}}</span>
			<span class="text_right">등록자:{{image.owner}}</span>
		</div>
		<div class="image-img">
			<img src="/img/{{image.img}}" alt="image">
		</div>
		<div class="image-content">
			내용:{{image.content}}
		</div>
	</div>
	
	<form id="image-form" action="/delete/{{image.id}}" method="post">
		<a href="/" id="exit-btn" class="btn">목록으로</a><button id="del-btn" type="submit" class="btn">삭제</button>
	</form>
</div>
<script>
	if(pass=false){
		alert("등록한 사용자만 삭제가능합니다.");
	} 
</script>

{% endblock %}